{% extends "dashboard.html" %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'user/css/edit_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block dashboard %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Edit Profile</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'user:edit_profile' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control">
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="edit-submit btn btn-success">Save Changes</button>
                                <a href="{% url 'user:dashboard' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <input type="hidden" id="email" name="email" value="{{ user.email }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
