{% extends "dashboard.html" %}
{% load static %}

{% block title %}
    {{ service.service_name }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'service/css/provider_detail.css' %}" rel="stylesheet">
    <link href="{% static 'includes/css/comments.css' %}" rel="stylesheet">
{% endblock %}

{% block dashboard %}
    <div class="service-page-container">
        <div class="main-content">
            <div class="service-details">
                <div class="card main-card">
                    <div class="card-body">
                        <h2 class="card-title">{{ service.service_name }}</h2>
                        <p class="card-text">{{ service.description }}</p>
                        <p class="card-text"><strong>Price: ${{ service.price }}</strong></p>
                        <p class="card-text text-muted mb-3">
                            <small>Added on: {{ service.published|date:"F j, Y" }}</small>
                        </p>
                        <p class="card-text">
                            <strong>
                                Tags:
                                {% for tag in service.tags.all %}
                                    <a href="{% url 'service:service_list' %}?tag={{ tag.slug }}">{{ tag }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </strong>
                        </p>
                        <div class="mt-3">
                            <a href="#" class="btn btn-primary">Edit Service</a>
                            <a href="#" class="btn btn-danger">Delete Service</a>
                        </div>
                    </div>
                </div>
                <h2 class="card-title">Orders</h2>
                {% for order in service.orders.all %}
                    <div class="card main-card mt-3">
                        <div class="card-body">
                            <h5>{{ order.client.first_name }} {{ order.client.last_name }} just ordered this service</h5>
                            <p>{{ order.description }}</p>
                            <p>You can contact him: </p>
                            {% if order.phone_number %}
                                <p>Phone number: {{ order.phone_number }}</p>
                            {% endif %}
                            {% if order.email %}
                                <p>Email: {{ order.email }}</p>
                            {% else %}
                                {{ order.client.email }}
                            {% endif %}
                        
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}