{% extends "user/base_auth.html" %}
{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block dashboard %}
    <div class="auth-container">
        <div class="auth-card">
            <h2 class="auth-title">Change Your Password</h2>
            <form action="{% url 'user:password_change' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-auth">Change Password</button>
            </form>
            <p class="auth-footer"><a href="{% url 'user:login' %}">Back to Profile</a></p>
        </div>
    </div>
{% endblock %}