{% extends "base.html" %}
{% load static %}

{% block title %}
	Services
{% endblock %}

{% block css %}
    <link href="{% static "service/css/index.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "service/css/pagination.css" %}">
{% endblock %}


{% block content %}
    <div class="row">
        {% for service in services %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ service.get_absolute_url }}"><h5 class="card-title text-truncate">{{ service.service_name|linebreaks }}</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted text-truncate">{{ service.provider_name }}</h6>
                        <p class="card-text text-truncate">{{ service.description }}</p>
                        <p class="card-text"><strong>Price: ${{ service.price }}</strong></p>
                        <p class="card-text text-muted"><small>Added on: {{ service.published|date:"F j, Y" }}</small></p>
                        {% if service.tags.all %}
                        <p class="card-text">
                            <strong>
                                
                                	
                                Tags:
                                {% for tag in service.tags.all %}
                                	<a href={% url 'service:service_list' %}?tag={{ tag.slug }}>
                                        {{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </strong>
                        </p>
                        {% endif %} 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "includes/pagination.html" with page=page_obj %}
{% endblock %}