<nav class="pagination">
    <ul>
        {% if page.has_previous %}
            <li><a href="?page=1" class="pagination-link" aria-label="First">&laquo;&laquo;</a></li>
            <li><a href="?page={{ page.previous_page_number }}" class="pagination-link" aria-label="Previous">&laquo;</a></li>
        {% else %}
            <li><span class="pagination-link disabled">&laquo;&laquo;</span></li>
            <li><span class="pagination-link disabled">&laquo;</span></li>
        {% endif %}

        {% for i in page.paginator.page_range %}
            {% if page.number == i %}
                <li><span class="pagination-link active">{{ i }}</span></li>
            {% elif i > page.number|add:'-3' and i < page.number|add:'3' %}
                <li><a href="?page={{ i }}" class="pagination-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}" class="pagination-link" aria-label="Next">&raquo;</a></li>
            <li><a href="?page={{ page.paginator.num_pages }}" class="pagination-link" aria-label="Last">&raquo;&raquo;</a></li>
        {% else %}
            <li><span class="pagination-link disabled">&raquo;</span></li>
            <li><span class="pagination-link disabled">&raquo;&raquo;</span></li>
        {% endif %}
    </ul>
</nav>